/*css*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.navbar-form {
	padding-right: 0;
}

nav.navbar {
	margin-bottom: 0;
}

.order-form .form-control {
	width: 300px;
}

.oredr-form .modal-body {
	padding: 0;
}

header h1 {
	font-weight: 300;
	border-top: 4px double #000;
	border-bottom: 4px double #000;
	margin-bottom: 47px;
	padding: 45px 0;
	letter-spacing:  2px;
	line-height: 40px;
	margin-top: 0;
}

.col-md-1 {
	padding: 0;
}

.left-nav-stripe,
.navbar-collapse {
	padding: 0;
}

.left-nav-stripe {
	box-shadow: 3px 3px 15px #ccc;
}

.left-nav-stripe li {
	width: 100%;
	transition: .5s;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
}

.left-nav-stripe li:hover {
	background: #ccc;
}

.navbar-nav {
	background: #fff;
	border: none;
}

.navbar-default {
	background: #fff;
}

.navbar-form {
	margin-top: 0;
	font-size: 0;
}

.form-control {
	border-radius: 0;
	height: 48px;
}

.btn-default {
	border-radius: 0;
	background: #ca2128;
	color: #fff;
	width: 208px;
	height: 48px;
	border: none;
	transition: .5s;
	text-transform: uppercase;
}

.btn-default img {
	margin-left: 10px;
}

.btn-default:hover {
	background: #ca2128;
	color:  #fff;
	opacity: .7;
	cursor: pointer;
}

.btn-default:active {
	background-color: #ca2128;
}

.btn-default:focus {
	background-color: #ca2128;
}

.search.btn-default {
	width: 50px;
	background: #000;
}

.search.btn-default:focus {
	color: #fff;
}

.ratings span {
	color: red;
}

.catalog {
	position: relative;
	background: #ca2128;
	top: 130px;
	text-transform: uppercase;
	right: -100px;
	width: 270px;
  	font-family: "Roboto", sans-serif;
  	z-index: 50;
    padding: 5px;
    color: #fff;
    cursor: pointer; 
  	transform: rotate(-90deg);
    padding: 10px;
}

.catalog img {
    transform: rotate(90deg);
    padding-bottom: 15px;
}

.order {
	background: #fff;
	display: none;
	min-height: 700px;
	position: absolute;
	top: 130px;
	right: 0; 
	z-index: 10000000000000000;
	width: 341px;
	box-shadow: -3px -3px 25px #ccc;
}

.order header {
	height: 66px;
	background: #ca2128;
	color: #fff;
	text-transform: uppercase;
	line-height: 66px;
}

.order header img {
	margin-left: 15px;
}

.order input[type=text],
.order input[type=email], 
.order select {
	border: none;
    border-bottom: 2px solid #000;
    padding: 15px;
    width: 90%;
    margin: 0 auto;
}

.order .checkbox {
	padding: 20px;
	margin-left: 20px;
}

.order .btn-default {
	display: block;
	margin: 20px auto;
	background: none;
	border: 1px solid #ca2128;
	color: #ca2128;
	text-transform: uppercase;
	transition: .5s
}

.order .btn-default:hover {
	background: #ca2128;
	color: #fff;
}

select,
input {
  	display:block;
}

form span {
	color: #ca2128;
}

form a:hover {
	text-decoration: none;
}

.first,
.second {
	line-height: 25px;
	font-size: 17px;
	text-align: justify;
}

.second {
	margin-bottom: 100px;
}

.social-media {
	margin-bottom: 50px;
	line-height: 48px;
}

.social-media a {
	padding: 5px;
	display: inline-block;
	line-height: 23px;
	transition: .5s;
	color: #555;
}

.social-media .fa:hover {
	opacity: .7;
	cursor: pointer;
}

.social-media .fa-star-o {
	transition: .5s;
}

.social-media .fa-star-o:hover {
	color: red;
}

.social-media img {
	line-height: 48px;
}

.picture {
	height: 450px;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 100px;
	transition: .5s;
}

.picture:hover {
	box-shadow: 2px 2px 15px #ccc;
	cursor: pointer;
}

.picture h3, 
.picture p {
	padding: 20px;
}

footer h2 {
	text-align: center;
	padding: 25px 0;
	text-transform: uppercase;
}

.carousel-indicators .active {
	background: #ca2128;
}

.carousel-indicators li {
	border: 1px solid #ccc;
}

.carousel-control.left,
.carousel-control.right {
	background: none;
}

.carousel-inner img {
	width: 100%;
	margin: 0;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
	color: #000;
}


/*media queries*/

@media(max-width: 1155px) {
	
    .left-nav-stripe li {
    	width: 110px;
    	text-align: center;
    }
    .navbar-default .navbar-nav>li>a {
    	font-size: 12px;
	}
    .navbar {
    	border: none;
    	background: #fff;
    }
    .navbar-collapse {
    	overflow: hidden;
    	border: none;
    }
    .navbar-form {
    	float: left;
    	padding-left: 15px;
    }
    .fa-shopping-cart {
    	position: relative;
    	top: 8px;
    }
    .social-media .btn-default {
    	width: 100%;
    }
@media(max-width: 767px) {
	.left-nav-stripe {
		box-shadow: none;
	}
	.left-nav-stripe li {
    	width: 100%;
    }
    .navbar-form .btn-default {
    	width: 100%;
    }
    .search.btn-default {
    	width: 100%;
    }
    .navbar-form {
    	padding: 0;
    	width: 100%;
    	margin: 0 auto;
    }
    .navbar-toggle {
    	margin-left: 20px;
    	margin-top: 35px;
    }
    .catalog {
    	transform: rotate(0deg);
    	right: 15px;
    	top: 0;
    	margin: 20px 0;
    }
    .catalog img {
    	transform: rotate(0deg);
    	height: 50px;
}
@media(max-width: 320px) {
	.catalog {
		width: 290px;	
	}
	.navbar-toggle {
		margin-top: 0;
	}
}